* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar,
.node__top {
  background: linear-gradient(
    90deg,
    theme("colors.primary.100"),
    theme("colors.primary.300")
  );
  color: theme("colors.primary.300");
}
